
.container {
  padding-top: 10%;
  background-color: steelblue;

  .search-bar {
    margin: 20px auto;
  } 

  .video-detail  {

    .embed-responsive {
      margin-bottom: 20px;
    }
    .panel {
      padding: 10px;
    }
    .videoDescription {
      white-space: pre-line;
    }
  }

}